/* *FONT-FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap"); /* Raleway Font-family */
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"); /* Inter Font-family */

/* *VARIABLES START */
:root {
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;

  --accent-clr: #4e47ff;
  --primary-clr: #252432;
  /* ---primary-clr-2: #1e1e1e; */
  --secondary-clr: rgba(37, 36, 50, 0.5);
  --white-clr: #ffffff;
  --bg-clr: hsla(242, 100%, 64%, 0.1);

  --border-10: 10px;
  --border-14: 14px;
  --border-24: 24px;
}
/* *VARIABLES END */

/* *CSS RESET START */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, "Helvetica Neue", sans-serif;
  font-family: var(--font-inter);
  background-color: #f5f8ff;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: var(--font-raleway);
  color: var(--primary-clr);
}

p {
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--secondary-clr);
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* textarea {
  resize: none;
} */

button {
  border: none;
  background: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* *CSS RESET END */

/* *UTILITIES CLASS START */
.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 12px 36px;
  font-family: var(--font-raleway);
  font-weight: 700;
  background-color: var(--accent-clr);
  color: var(--white-clr);
  height: 48px;
  border-radius: var(--border-10);
  transition: all 0.23s ease-in-out;
}
.btn:hover {
  background-color: var(--bg-clr);
  color: var(--primary-clr);
  outline: 2px solid var(--primary-clr);
}
.btn-animation {
  transition: all 0.33s ease-in-out;
}
.btn-animation:hover {
  transform: translateY(-5px);
}
/* *UTILITIES CLASS END */

/* *HEADER START */
header {
  padding: 50px 0;
  background-image: url(../images/banner.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo a {
  font-family: var(--font-inter);
  font-size: 34px;
  font-weight: 900;
  color: var(--accent-clr);
}
/* *HEADER END */

/* *HERO START */
.hero {
  padding: 158px 0 152px;
}
.contents {
  text-align: center;
}
.contents h1 {
  margin: 0 auto;
  font-size: 65px;
  font-weight: 700;
  width: 70%;
}
.contents .btn {
  margin-top: 37px;
}
/* *HERO END */

/* *PREVIEW START */
.preview {
  margin: 116px 0;
}
.preview-contents h2 {
  font-size: 42px;
  font-weight: 700;
}
.preview-contents p {
  margin: 23px 0;
  font-family: var(--font-raleway);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
}
.preview-image img {
  width: 403px;
  height: 328px;
}
/* *PREVIEW END */

/* *COUNTER START */
.counter-container {
  padding: 50px 142px;
  background-color: var(--bg-clr);
  border-radius: var(--border-24);
}
.counter-title h2 {
  font-family: var(--font-raleway);
  font-size: 38px;
}
.counters {
  justify-content: center;
  gap: 158px;
  margin-top: 40px;
}
.counter h3 {
  font-family: var(--font-inter);
  font-size: 80px;
  font-weight: 700;
  color: var(--accent-clr);
}
.counter p {
  font-size: 20px;
  color: rgb(0, 0, 0, 0.5);
}
/* *COUNTER END */

/* *USER START */
.user-review {
  margin: 137px 0;
}
.users {
  gap: 20px;
  margin-top: 50px;
}
.user {
  gap: 24px;
  padding: 24px;
  background-color: var(--white-clr);
  border-radius: var(--border-14);
  width: 33%;
}
.rating ul {
  gap: 8px;
}
.rating ul li img {
  height: 20px;
}

.user .contents {
  text-align: justify;
}
.user .contents h3 {
  font-family: var(--font-inter);
  font-size: 24px;
  font-weight: 800;
}
.user .contents p {
  margin-top: 8px;
  width: 80%;
}

.user-info {
  gap: 12px;
}
.user-image img {
  border-radius: 50%;
}
.user-details {
  margin-top: 4px;
}
.user-details h4,
p {
  color: #757575;
}
.user-details h4 {
  font-weight: 600;
}
.user-details p {
  margin-top: 2px;
  font-weight: 400;
  color: #b3b3b3;
}
/* *USER END */

/* *FOCUS START */
.focus-container {
  padding: 70px 150px;
  border-radius: var(--border-14);
  background-color: var(--white-clr);
}
.focus-contents h2 {
  font-size: 50px;
}
.focus-contents p {
  margin: 20px 0 0;
}
.focus-contents button {
  margin: 20px 0;
}
/* *FOCUS END */
